html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* Navbar */
.nav-logo{
    margin: px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3d3d3d;
    padding: 10px;
    z-index: 999;
    font-weight: 600;
}

.nav-logo {
    display: inline;
    vertical-align: middle;
    height: 30px;
    margin-right: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
    margin-right: 40px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    font-size: 11pt;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px 10px 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
color: #2286ad;
}

nav.navbar ul li a,
nav.fill ul li a {
    position: relative;
}

nav.navbar ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #2286ad;
    height: 2px;
}

nav.navbar ul li a:hover:after {
    width: 100%;
}

/* Navbar End */

/* Banner */
.banner {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    color: #fff;
    padding: 0px;
    text-align: center;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.banner h1 {
    font-size: 56px;
    font-weight: 600;
    position: absolute;
    top: 45%;
    left: 10%;
}

.banner h3 {
    position: absolute;
    font-weight: 300;
    top: 40%;
    left: 10%;
}

.banner h4 {
    position: absolute;
    font-weight: 200;
    top: 60%;
    left: 10%;
}

@media (max-width: 767px){
    .banner img {
        max-width: 100%;
        height: auto;
    }
}

/* Banner End */

/* Gaya CSS untuk desktop */
#our-profil {
    /* display: flex; */
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 0 200px 0 200px;

}

#our-profil h2 {
    font-size: 30pt;
    padding: 25px;
    text-align: center;
}
.why-choose-us {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    padding: 25px;
}

.why-choose-us-item img{
    grid-row-start: 1;
    grid-row-end: 3;
    width:80px;
    height: auto;
    flex-shrink: 0;
}

.why-choose-us-item {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    padding: 20px;
}

.why-choose-us-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #cacaca;
}

.why-choose-us-item p {
    font-size: 16px;
    line-height: 1.4;
}



/* Gaya CSS untuk ponsel */
@media (max-width: 767px) {
    #our-profil {
        background-color: rgb(255, 255, 255);
        max-width: 100%;
    }

    .why-choose-us {
        display: block;
        padding: 0;
    }
    
    .why-choose-us-item {
        background-color: #ffffff;
        padding: 20px;
    }
    
    .why-choose-us-item h3 {
        font-size: 20px;
        margin-bottom: 10px;
        border-bottom: 2px solid #cacaca;
    }
    
    .why-choose-us-item p {
        font-size: 16px;
        line-height: 1.4;
    }
    
}

/* pesan */
.message {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
}

.message-form {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
  }
  
  .message-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .message-form input,
  .message-form textarea {
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 7px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid#707070;
  }
  
  input[type="radio"] {
    grid-column-start: 2;
    grid-column-end: 2;
    display: inline-block;
    margin-right: 10px;
  }
  
  .message-form textarea {
    height: 150px;
  }
  
  .message-form button {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .message-form button:hover {
    background-color: #0056b3;
  }
  

  .validation-message {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .invalid {
    border-color: red;
  }
  

  
  /* Footer */
  .footer {
    background-color: #3d3d3d;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer p {
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .footer-links li a {
    text-decoration: none;
    color: #888;
  }
  
  .footer-links li a:hover {
    color: #333;
  }
  
  .message .result {
    width: auto;
    height: auto;
    border: 1px solid #212529;
    border-radius: 7px;
  }